body {
  padding: 50px;
  margin: 0;
  background: green;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

img {
	transform: translate(50px,100px);
}
