
.axis {
  font: 10px sans-serif;
}
.label{
  font-size: 1.5em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

body{
  background: #d3d3d3;
}
.app { margin: 5% 10% 15%; text-align: center; background: #AEA8D3;}
h2 { padding-top: 30px; }