.champers { width: 80%; position: absolute; left: 6%; top: 10%; text-align: center; }
img { width: 100%; display: block;}
a { position: relative; display: block; }
.user { width: 25%; }
body { background: white; }
.header { margin-bottom: 4%; color: black;}