.blankdiv {
    width: 100%;
    height: 200px;
    background: #d3d3d3;
}

ul { list-style: none; margin: 0 auto; display: block; position: relative;}

head { display: block; width: 100%; height: 50px; }

form { position: absolute; top: 30px; border: 2px solid black; padding: 10px; display: none;}

input, label, select { display: block; }

button { width: 100px; background: #f30;}

.hoversect { position: absolute; right: -60px; top: 60px; border: 2px solid black;}

.hoversect div { height: 100px; width: 100px; text-align: center; }
.hoversect div:nth-child(odd) { background: #f0d; }
.blankdiv { text-align: center; }
.blankdiv p { padding-top: 10px; }
body { overflow: hidden; }
#tabContainer { width: 600px; }

/* random quote css */
button { width: 200px;}
button { margin: 10px 30% 10px; }
h1 { margin: 10px 20% 10px; }
.quoteplace p { margin: 20px 30% 20px; }
