body {
  background-color: #333;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.tooltip {
  color: white;
  font-size: 1.1em;
}

.app {
  margin: 30px auto;
  padding: 0px;
  width: 850px;
  height: 850px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
}