
.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

.link {
  stroke: blue;
}

.tooltip {
  color: white;
  font-size: 1.1em;
}

.app {
  margin: 30px auto;
  padding: 0px;
  width: 850px;
  height: 850px;
  background: #d3d3d3;
}